body {
	/*background-color: #228CDB;*/
	background-color: white;
	font-family: 'Krub', sans-serif;
}

.background {
	background-color: #228CDB;
}

/*.second {
	background-color: white;
}*/
img {
	width: 100%;
	display: block;
}

.colleges {
	width: 200px;
	height: 200px;
}

.careers {
	height: 300px;
	width: 300px;
}

.companies {
	width: 200px;
}

.test {
	z-index: 100;
	margin-top: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 200;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    z-index: 200;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

.container2 {
    position: relative;
    width: 100%;
    display: inline-block;
}

.text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}
.overlay {
    position: absolute;
    opacity: 0;
    transition:all .3s ease;
    background-color: #008cba;
}
.container2:hover .overlay{
    opacity: .9;
}

.overlayBottom{
    width: 84%;
    height: 0;
    bottom:0;
    left:0;
    background-color: grey;
}
.container2:hover .overlayBottom {
    height: 100%;
}

.info {
	border: 10px solid #103BA0;
	background-color: #008BF8;
}

p {
	color: #250001;
}

h1 {
	color: #6539AD;
}

h2 {
	color: #6539AD;
}

.info2 {
	line-height: 38px;
}

.captions {
	color: white;
}