body {
	background-color: #228CDB;
	font-family: 'Krub', sans-serif;
}

.second {
	background-color: white;
}
img {
	width: 100%;
}

.colleges {
	width: 200px;
	height: 200px;
}

.careers {
	height: 300px;
	width: 300px;
}

.companies {
	width: 200px;
}

.test {
	z-index: 100;
	margin-top: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 200;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    z-index: 200;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}